* {
  padding: 0;
  margin: 0;
}

.name-site {
  text-transform: uppercase;
  font-weight: 100;
  color: aliceblue;
  font-size: 20px;
  padding-left: 100px;

  span {
    font-weight: bold;
    color: rgb(255, 255, 255);
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;

  input {
    background-color: transparent;
    width: 400px;
    border: none;
    color: aliceblue;
    padding-left: 10px;
    outline: none;
    font-size: 15px;
  }

  button {
    border: none;
    cursor: pointer;
    height: 30px;
  }
}

.poisk {
  display: flex;
  justify-content: center;

  img {
    width: 30px;
  }
}

.plakat {
  height: 94vh;
  background-image: url(time.jpeg);
  background-size: cover;
  background-repeat: no-repeat;

  a {
    margin-right: 100px;
    width: 120px;
    height: 30px;
    background-color: #f40073;
    color: aliceblue;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
  }
}

.result-film {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 30px;

  div {
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    gap: 10px;
    justify-content: space-between;
    min-height: 500px;
    max-height: 520px;
    width: 300px;

    img {
      width: 300px;
      height: 400px;
    }

    button {
      width: 90px;
      height: 30px;
      cursor: pointer;
      border: none;
      background-color: aliceblue;
      transition: 0.5s;
      border-radius: 10px;
      text-transform: uppercase;
    }

    button:hover {
      background-color: #f40073;
    }
  }
}

.movie {
  width: 250px;
  margin-left: 30px;

  input {
    border: none;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    margin: 15px 5px;
    font-size: 15px;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    transition: all 1s;
  }

  input:hover {
    color: #f40073;
  }

  input:focus {
    color: #f40073;
  }
}



.container {
  background-color: rgb(13, 12, 12);
}

footer {
  height: 250px;
  background-color: rgb(13, 12, 12);
}

.overlay {
  position: fixed;
  top: 250px;
  bottom: 300px;
  left: 350px;
  right: 50px;
  width: 800px;
  height: 50%;
  z-index: 1050;
  transition: opacity 200ms ease-in;
  background-color: #f40073;
  display: flex;
  opacity: 1;
  overflow: auto;
  img {
    width: 350px;
  }

}