body {
  background-color: rgb(33, 33, 33);
}

.shop-list button,
input {
  border-radius: 20px;
  border: none;
  background-color: aliceblue;
  padding: 10px;
  margin: 5px;
  transition: 0.7s ease-in-out;
  text-align: center;
  cursor: pointer;
}

.shop-list button:hover {
  background-color: rgb(200, 229, 255);
  padding: 10px 15px;
}

#cheque_shop table th {
  width: 80px;
}

#cheque_shop table tr {
  text-align: right;
}

#cheque_shop table tr td:first-child {
  text-align: left;
}

#cheque_shop table tr th:first-child {
  text-align: left;
}

#cheque_shop h1 {
  text-align: right;
  font-size: 20px;
  margin-top: 50px;
}

.check {
  width: 250px;
  background-color: aliceblue;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  height: 400px;
}

#cheque_shop h3 {
  text-align: center;
}

#cheque_shop p {
  margin: 0;
  padding-bottom: 30px;
}

#sum_sal {
  color: white;
}

#button-for-empl button {
  margin: 5px;
  border-radius: 30px;
  border: none;
  background-color: aliceblue;
  padding: 20px 40px;
  font-size: 14px;
  transition: 1s ease-in-out;
  cursor: pointer;
}

#button-for-empl button:hover {
  background-color: rgb(184, 241, 255);
}

#news-news {
  background-color: #fff;
  width: 600px;
  padding: 5px 30px;
}

#news-news p {
  text-align: justify;
}

#button-for-empl {
  margin-left: 50px;
}

#sum_sal h3 {
  color: rgb(0, 255, 17);
  font-size: 20px;
  transition: 1s ease-in-out;
  transform: scale(0.7s);
}

.container {
  margin: 20px;
}

#print-machin {
  font-size: 20px;
  color: red;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#secondsToTomorrow,
#time-tom {
  display: flex;
  justify-content: center;
  color: rgb(249, 201, 255);
  font-size: 40px;
  font-weight: bold;
  border-radius: 4px;
}

#secondsToTomorrow {
  color: rgb(243, 156, 255);
}

.lol {
  display: flex;
  justify-content: center;
  color: rgb(249, 201, 255);
  font-size: 30px;
  margin: 0;
  margin-top: 20px;
}

.newsFunc {
  padding: 20px;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsFunc input {
  margin: 10;
}

#marker {
  width: 500px;
  text-align: justify;
  font-style: italic;
  background-color: rgb(255, 226, 226);
  padding: 30px 10px;
  margin: 0 30px;
  margin-bottom: 50px;
}

#fillM {
  border-radius: 100px;
  margin-bottom: 50px;
}

#empTable {
  color: #fff;
  margin: 20px;
}

#calendar>table {
  border-collapse: collapse;
}

#calendar td {
  border: 1px solid grey;
  background-color: rgb(196, 196, 196);
  padding: 5px;
  text-align: center;
}

#calendar th {
  border: 1px solid grey;
  padding: 5px;
  text-align: center;
  background-color: rgb(153, 153, 153);
}

#calendar h4 {
  font-size: 24px;
  margin: 2px;
  text-align: center;
  color: rgb(249, 201, 255);
  text-transform: uppercase;
}

.headerB {
  display: flex;
  align-items: center;
  padding: 0 50px;
  gap: 50px;
  justify-content: center;
}

#watch-start,
#watch-stop {
  width: 30px;
  height: 30px;
}

#watch-start {
  background-image: url(./старт.svg);
  background-size: cover;
}

#watch-stop {
  background-image: url(./стоппп.png);
  background-size: cover;
}

.month-button {
  width: 100px;
}

.month-button input {
  color: rgb(241, 132, 255);
  text-transform: uppercase;
}

.highlight {
  background-color: rgb(249, 201, 255) !important;
}

.notification {
  position: fixed;
  z-index: 1;
  /* left: calc(50% - 150px); */
}

.notification img {
  width: 300px;
}

.skrimer {
  /* left: calc(50% - 150px); */
  width: 1800px;
  height: 100vh;
  background-image: url(./public/samye-strashnye-skrimery-2.webp);
  background-size: cover;
}

.para-and {
  background-image: url(./gfhf.png);
  width: 200px;
  height: 100px;
  background-size: cover;
}

#field {
  width: 560px;
  border: 10px groove rgb(0, 33, 1);
  position: relative;
  margin: 0px 40px;
  cursor: pointer;
  height: 350px;
  background-image: url(./футбольчик.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

#ball {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  top: 0;
  transition: 1s all;
}

#coords {
  color: #fff;
  text-align: center;
  width: 200px;
  margin: 5px 40px;
  font-size: 20px;
  font-weight: 600;
}

.pole {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}

.menu {
  color: rgb(215, 245, 250);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 50px 0;
  text-align: justify;
}

.menu span {
  cursor: pointer;
}

.menu span::before {
  content: '▶';
  font-size: 80%;
  color: green;
}

.menu p {
  display: none;
}

.menu.open span::before {
  content: '▼ ';
}

.menu.open p {
  display: block;
  transition: 2s all;
}

.inst {
  background-image: url(./inst.png);
  width: 30px;
  height: 30px;
  background-size: cover;
}

.message {
  display: flex;
  gap: 10px;
  margin: 10px;
  background-color: rgb(223, 223, 223);
  width: 300px;
  border-radius: 15px;
  padding: 6px 10px;
  align-items: center;
  position: relative;
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
}

.time {
  position: absolute;
  right: 10px;
  top: 5px;
  color: rgb(86, 86, 86);
  font-style: italic;
  font-size: 14px;
}

.read {
  position: absolute;
  right: 10px;
  bottom: 5px;
  color: rgb(144, 99, 143);
  font-size: 14px;
  cursor: pointer;
}

.container-for-carousel {
  width: calc(300px * 3 + 40px * 2);
  position: relative;
  margin: 50px 0;
  display: flex;
  justify-content: center;
}

.arrow {
  position: absolute;
  top: 150px;
  padding: 0;
  border: none;
  font-size: 24px;
  line-height: 24px;
  color: #444;
  display: block;
  cursor: pointer;
  background-color: transparent;
}

.arrow:hover {
  color: rgb(255, 243, 72);
  animation: blinker 1s linear infinite;
}

.arrow:focus {
  color: rgb(255, 243, 72);
  animation: blinker 1s linear infinite;
  outline: none;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.left {
  left: 7px;
}

.right {
  right: 7px;
}

.porshe img {
  width: 300px;
  height: 300px;
  display: block;
}

.porshe li {
  display: inline-block;
  /* margin: 0 5px; */
}

.porshe {
  height: 300px;
  width: 9999px;
  margin: 0;
  padding: 0;
  transform: translateX(0);
  transition: transform 1000ms;
}

.carousel {
  overflow: hidden;
  width: 900px;
}

#contents {
  border: none;
  color: aliceblue;
}

#contents a {
  color: pink;
  text-decoration: none;
  font-style: italic;
}

.slider-container {
  display: flex;
}

.slider-container img {
  width: 50px;
}

.slider {
  width: 300px;
  background-color: aliceblue;
  height: 15px;
  margin: 18px 0;
  border-radius: 20px;
}

.thumb {
  width: 12px;
  background-color: palevioletred;
  cursor: pointer;
  height: 25px;
  position: relative;
  left: 10px;
  top: -5px;
  border-radius: 5px;
  transition: all 300ms;
}

.road {
  width: 1400px;
  margin-top: 20px;
  height: 500px;
  background-size: contain;
  background-repeat: repeat;
  background-image: url(./дорога.jpeg);
}
.hero {
  width: 200px;
  height: 115px;
  cursor: pointer;
  transition: transform .5s;
}

#por1 {
  background-image: url(./порше1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#por2 {
  background-image: url(./порше2.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#por3 {
  background-image: url(./порше3.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#por4 {
  background-image: url(./порше4.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.star-rating-box{
display: flex;
gap: 5px;
margin: 30px 0;
}
.rating-star {
  background-image: url(star.png);
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: ease-in-out 0.7s;
}
.rating-star:hover{
  transform: scale(1.2);
}
.three-star{
  background-image: url(red-star.PNG);
}
.star-activ{
  background-image: url(yel-star.png);
}
