body {
  background-color: rgb(33, 33, 33);
}

.shop-list button,
input {
  border-radius: 20px;
  border: none;
  background-color: aliceblue;
  padding: 10px;
  margin: 5px;
  transition: 0.7s ease-in-out;
  text-align: center;
  cursor: pointer;
}

.shop-list button:hover {
  background-color: rgb(200, 229, 255);
  padding: 10px 15px;
}

#cheque_shop table th {
  width: 80px;
}

#cheque_shop table tr {
  text-align: right;
}

#cheque_shop table tr td:first-child {
  text-align: left;
}
#cheque_shop table tr th:first-child {
  text-align: left;
}
#cheque_shop h1 {
  text-align: right;
  font-size: 20px;
  margin-top: 50px;
}

.check {
  width: 250px;
  background-color: aliceblue;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  height: 400px;
}
#cheque_shop h3 {
  text-align: center;
}
#cheque_shop p {
  margin: 0;
  padding-bottom: 30px;
}
#sum_sal {
  color: white;
  margin: 20px;
}
#button-for-empl button {
  margin: 5px;
  border-radius: 30px;
  border: none;
  background-color: aliceblue;
  padding: 20px 40px;
  font-size: 14px;
  transition: 1s ease-in-out;
  cursor: pointer;
}
#button-for-empl button:hover {
  background-color: rgb(184, 241, 255);
}
#button-for-empl {
  margin-left: 50px;
}
#sum_sal h3 {
  color: rgb(0, 255, 17);
  font-size: 20px;
  transition: 1s ease-in-out;
  transform: scale(0.7s);
}